<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <br>
      <br>
      <input type="text" [(ngModel)]="buttonName" placeholder="Please Enter button name !">
      <br>
      <br>
      <hr>
      <form>
        <p>Text Color</p>
        <input type="radio" id="red" value="text-red" name="font-color" [(ngModel)]="fontcolor">
        <label for="red">Red</label>
        <input type="radio" id="green" value="text-green" name="font-color" [(ngModel)]="fontcolor">
        <label for="green">Green</label>
        <input type="radio" id="blue" value="text-blue" name="font-color" [(ngModel)]="fontcolor">
        <label for="blue">Blue</label>
        <br>
      </form>
      <hr>
      <form>
        <p>Background Color</p>
        <input type="radio" id="red" value="bg-red" name="font-color" [(ngModel)]="bgcolor">
        <label for="red">Red</label>
        <input type="radio" id="green" value="bg-green" name="font-color" [(ngModel)]="bgcolor">
        <label for="green">Green</label>
        <input type="radio" id="blue" value="bg-blue" name="font-color" [(ngModel)]="bgcolor">
        <label for="blue">Blue</label>
        <br>
      </form>
      <hr>
      <br>
      <button 
        [innerText]="buttonName" 
        (click)="updateText()" 
        [ngClass]="[fontcolor, bgcolor]">
          Click Here ....!
      </button>
      <br>
      <br>
      <div *ngFor="let name of updatedButtonName">
        <p>{{ name }}</p>
      </div>
    </div>
  </div>
</div>