<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <br>
            <ul>
                <li *ngFor="let movie of selectedActorMovies; let i = index">
                    <div [hidden]="isEditClicked && !(editingIndex===i)">
                        <a (click)="editMovieName(i)" [hidden]="isEditClicked"> Edit </a> &nbsp; {{ movie }} 
                    </div>
                    <div [hidden]="(!isEditClicked) || !(editingIndex===i)">
                        <input  type="text" [value]="movie" (keydown.Enter)="updateMovieName(i,$event)">
                    </div>
                </li>
              </ul>  
        </div>
    </div>
</div>