<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <br>
      <button class="btn btn-primary" [innerText]="'Display Details'" (click)="click()"></button>
      <h2 [hidden]="!isTextvisible">Ithe aarodum parayandaa ......! &nbsp; :) </h2>
      <br>
      <br>
      <div>
        <ul *ngFor="let count of clickList; let i = index">
          <li [ngStyle]="{backgroundColor: setBackgroundColor(i)}" [ngClass]="{white: i > 3}"> {{ count }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>