<div class="row">
    <div class="col-xs-12">
        <h3>Add new Servers or blueprints !...</h3>
        <label> Server Name</label>
        <input type="text" class="form-control" [(ngModel)]="newServerName" #serverNameInput>
        <label> Server Content</label>
        <input type="text" class="form-control" [(ngModel)]="newServerContent" #serverContentInput>
        <br>
        <button class="btn btn-primary" (click)="addServer(serverNameInput)">Add Server</button> &nbsp;
        <button class="btn btn-primary" (click)="addBlueprint()">Add Blueprint</button> &nbsp;
        <button class="btn btn-primary" (click)="changeServerName()">Change Server Name</button> &nbsp;
        <button class="btn btn-danger" (click)="deleteFirstServer()">Change Server Name</button> &nbsp;
    </div>
</div>
