<p>yeyyyyy....! This message is from server component</p>
<h3>You are in {{ serverName }} {{ 'server' }} with server Id : {{ serveraId }} ! <h2 [textContent]="serverStatus" [ngStyle]="{color: getColor()}"></h2></h3> 
<button class="btn btn-primary" [disabled]="!allowActivateServer" (click)="activateServer()">Activate new Server</button> <br> <br>
<button class="btn btn-primary" [disabled]="!allowActivateServer" (click)="activateUpdateServerNameField()">Update Server Name</button>
<br>
<br>
<Label [ngStyle]="{color: 'red'}">Server Name</Label>  &nbsp; <input type="text" [disabled]="!allowUpdateServerName" class="form-Control"  [(ngModel)]="serverName">
<h2 *ngIf="isServerNameUpdated; else noUpdate">Update Server name is clicked. New Server name is : {{ serverName }}</h2>
<ng-template #noUpdate>
    <h2>Update server name is not clicked...!</h2>
</ng-template>

