<p>yeyyyyy....! This message is from server component</p>
<h3>You are in {{ serverName }} {{ 'server' }} with server Id : {{ serveraId }} ! <h2 [textContent]="serverStatus"></h2></h3> 
<button class="btn btn-primary" [disabled]="!allowActivateServer" (click)="activateServer()">Activate new Server</button> <br> <br>
<button class="btn btn-primary" [disabled]="!allowActivateServer" (click)="activateUpdateServerNameField()">Update Server Name</button> 
<input type="text" [disabled]="!allowUpdateServerName" class="form-Control"  (keydown.Enter)="onUpdateServerName($event)">

